@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete purchase</title>
</head>
<body>
    <div>
        <h3>Deleting purchase</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.DeletingId" name="Purchase_id" />
            <table>
                <tr>
                    <td><p>Are you sure about deleting purchase with Id:@ViewBag.DeletingId</p></td>

                </tr>
                <tr><td><input type="submit" value="Yes!" /> </td><td></td></tr>
                <tr><td><input type="button" onclick="window.location.href = '/';" value="No" /> </td><td></td></tr>
            </table>
        </form>
    </div>
</body>
</html>